# Rutas
DATASET_PATH=/ruta/al/dataset
DB_IMAGES_PATH=./data/imagenes.db
DB_VIDEOS_PATH=./data/videos.db

# Paralelismo
PARALLEL_WORKERS=1

# Saltos en el análisis de fotogramas
FRAME_SKIP=0
BATCH_SIZE=250

# Configuración de Logs
LOG_MAX_FILES=5
LOG_MAX_SIZE_MB=10.0